<mat-sidenav-container>
    <mat-sidenav #fst mode="side" opened="true">
        <div id="user" *ngIf="user">
            <img src="http://via.placeholder.com/70x70">
            <p>{{ user.username }}</p>
        </div>
        <div id="projects">
            <div class="project" *ngFor="let project of projects"> {{ project['Project'].title }} <span>{{ project['Project'].task_count }}</span></div>
        </div>
        <div id="new-project-form">
          <mat-form-field>
            <input matInput placeholder="New Title" [(ngModel)]="newProjectTitle">
          </mat-form-field>
          <button mat-button (click)="createProject()">OK</button>
        </div>
        <button mat-fab id="project-plus">plus</button>
    </mat-sidenav>

    <mat-sidenav #snd mode="over" position="end">
        <mat-toolbar id="task-toolbar">
            <button mat-button>edit</button>
            <button mat-button>trash</button>
        </mat-toolbar>
        <p id="task-details-title">Title</p>
        <p id="task-details-desc">Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc Desc </p>
        <mat-form-field>
          <input matInput placeholder="New Title">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="New Title"></textarea>
        </mat-form-field>
        <button mat-fab id="task-ok">ok</button>
    </mat-sidenav>

    <mat-toolbar id="project-toolbar">
        <span>Application Title</span>
        <button mat-button>plus</button>
        <button mat-button>edit</button>
        <button mat-button>trash</button>
    </mat-toolbar>
    <div id="tasks">
        <mat-card>
            <div class="task">
                <mat-radio-group>
                    <mat-radio-button value="1"></mat-radio-button>
                    <span (click)="snd.open()">Task</span>
                </mat-radio-group>
            </div>
            <div class="task">
                <mat-radio-group>
                    <mat-radio-button value="1"></mat-radio-button>
                    <span (click)="snd.open()">Task</span>
                </mat-radio-group>
            </div>
            <div class="task">
                <mat-radio-group>
                    <mat-radio-button value="1"></mat-radio-button>
                    <span (click)="snd.open()">Task</span>
                </mat-radio-group>
            </div>
        </mat-card>
    </div>
</mat-sidenav-container>
