<mat-sidenav-container>
    <mat-sidenav #fst mode="side" opened="true">
        <div id="user">
            <img src="http://via.placeholder.com/70x70">
            <p>Username</p>
        </div>
        <div id="projects">
            <div class="project">Project <span>3</span></div>
            <div class="project">Project <span>3</span></div>
            <div class="project">Project <span>3</span></div>
        </div>
        <button mat-fab id="project-plus">plus</button>
    </mat-sidenav>
    <mat-sidenav #snd mode="over" position="end">
    </mat-sidenav>

    <mat-toolbar id="project-toolbar">
        <span>Application Title</span>
        <button mat-button>plus</button>
        <button mat-button>trash</button>
    </mat-toolbar>
    <div id="tasks">
        <div class="date-block">
            <div class="date">DATE</div>
            <mat-card>
                <div class="task">
                    <mat-radio-group>
                        <mat-radio-button value="1"></mat-radio-button>
                        <span (click)="snd.open()">Task</span>
                    </mat-radio-group>
                </div>
                <div class="task">
                    <mat-radio-group>
                        <mat-radio-button value="1"></mat-radio-button>
                        <span (click)="snd.open()">Task</span>
                    </mat-radio-group>
                </div>
                <div class="task">
                    <mat-radio-group>
                        <mat-radio-button value="1"></mat-radio-button>
                        <span (click)="snd.open()">Task</span>
                    </mat-radio-group>
                </div>
            </mat-card>
        </div>
    </div>
</mat-sidenav-container>